<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>About this project - Phishing Site Maker - Made by Amit and Orel</title>
</head>

<body>
    <div class="center">
        <div>
            <h1>About this project</h1>

            <p>This project was created by Amit Bartfeld and Orel Pashayev. To rise phishing awareness.</p>
            <p>We made this website to show people how easy it is to create a phishing site, from any website they know
                on the internet.</p>
            <p>This project was made using Python, HTML, JS, and CSS. <br> It's our final project for cyber security
                course in college.</p>
            <p>We hope this project will help spread awareness for phishing and will help people to protect themselves.
            </p>

            <h2>How to use it?</h2>

            <p>1. Go to the main page.</p>
            <p>2. Enter the URL of the website you want to protect.</p>
            <p>3. Click on "Duplicate" button.</p>
            <p>4. You will be redirected to the page with the generated phishing site.</p>

            <br><p>This project was created for educational purposes. There might be some websites that we will not be able to convert into a phishing site.</p>
            
            <p><b>Stay safe on the internet. Be aware of phishing sites.</b></p>
            <p>Thank you for using our project.</p>
            <a href="/"><button class="submit-button">Back</button></a>
        </div>
    </div>
</body>

</html>